@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"),
      url("../fonts/FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"),
      url("../fonts/FuturaPT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Light.woff2") format("woff2"),
      url("../fonts/FuturaPT-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Medium.woff2") format("woff2"),
      url("../fonts/FuturaPT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Futura PT", "Arial", sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1350px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-header__wrapper {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333;
  background-color: #F9F8F8;
}

.site-address {
  display: flex;
  align-items: center;
}

.site-address__text {
  display: flex;
  align-items: center;
  margin-left: 180px;
  margin-right: 50px;
}

.site-address__text::before {
  display: block;
  margin-right: 9px;
  width: 14px;
  height: 13px;
  background-image: url(../img/home.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
  content: "";
}

.site-address__link {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
}

.phones {
  display: flex;
  align-items: center;
}

.phones::before {
  display: block;
  margin-right: 9px;
  width: 14px;
  height: 13px;
  background-image: url(../img/tel.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
  content: "";
}

.tel-numbers__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-right: auto;
  margin-left: auto;
  word-spacing: nowrap;
}

.tel-numbers__iteam {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}

.tel-numbers__iteam ~
.tel-numbers__iteam::before {
  position: absolute;
  z-index: 1;
  left: 0;
  background-color: #ffbd54;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  content: "";
}

.tel-numbers__link {
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: relative;
  z-index: 1;
  padding-left: 9px;
  padding-right: 9px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.tel-numbers__link:hover {
  color: #ffdb54;
}

.tel-numbers__link:active {
  color: #333333;
  opacity: 0.5;
}

.working-days {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-left: auto;
}

.working-days::before {
  display: block;
  margin-right: 7px;
  width: 14px;
  height: 13px;
  background-image: url(../img/days.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
  content: "";
}

.working-days__list {
  display: flex;
  align-items: center;
}

.working-days__iteam {
  margin-right: 17px;
  line-height: 21px;
  font-weight: 500;
  width: 127px;
}

.working-days__weeks {
  font-weight: 600;
}

.working-days__iteam:last-child {
  margin-right: 0;
}

.sitenav__white {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.logo {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  width: 178px;
  height: 86px;
}

.logo__link {
  position: absolute;
  z-index: 3;
  width: 178px;
  height: 86px;
  transition: 0.3s ease;
}

.logo__link:hover {
  opacity: 0.8;
}

.logo__link:active {
  opacity: 0.5;
}

.logo__img {
  display: block;
  width: 178px;
  height: 86px;
}

.sitenav__list {
  margin: 0;
  margin-left: 250px;
  padding: 0;
  list-style-type: none;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333;
}

.header__link {
  padding: 17px 27px;
  white-space: nowrap;
  color: #333333;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.header__link:hover {
  background-color: #ffbd54;
}

.header__link:active {
  background-color: #ffbd54;
  opacity: 0.5;
}

.header__link--active:before {
  display: inline-block;
  vertical-align: middle;
  margin-right: 14px;
  width: 14px;
  height: 13px;
  background-image: url(../img/fish.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
  content: "";
}

.header__ask-question {
  white-space: nowrap;
  color: #333333;
  font-weight: 500;
  margin-left: auto;
  padding: 15px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.header__ask-question:hover {
  color: #fff;
  background-color: #333333;
}

.header__ask-question:active {
  opacity: 0.5;
}

.header__ask-question:before {
  display: inline-block;
  vertical-align: middle;
  margin-right: 14px;
  width: 23px;
  height: 21px;
  background-image: url(../img/dog-foot.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
  content: "";
}

/* ==== SITE MAIN ==== */ 
/* about-site */
.site-main {
  flex-grow: 1;
  background-color: #f9f9f9;
}

.about-site {
  min-height: 800px;
  /* background-color: #e5e5e5; */
  background-image: url(../img/about-site.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.about-site__contain {
  width: 610px;
  margin-left: auto;
  padding-top: 146px;
  font-size: 16px;
  line-height: 21px;
}

.about-site__heading {
  margin: 0;
  font-size: 70px;
  line-height: 64px;
  color: #333333;
  margin-bottom: 29px;
}

.about-site__heading-blue {
  color: rgb(65, 236, 241);
}

.about-site__text {
  margin: 0;
  margin-bottom: 38px;
  width: 495px;
  color: #949494;
}

.about-site__link {
  padding: 15px 48px;
  color: #FFFFFF;
  background-color: #333333;
  border-radius: 3px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.about-site__link:hover {
  color: #333333;
  background-color: #FFBD54;
}

.about-site__link:active {
  opacity: 0.5;
}

/* clinic-info */
.clinic-info__decoration {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.clinic-info__decoration::before {
  width: 140px;
  height: 2px;
  background-color: #DBDBDB;;
  content: "";
}

.clinic-info__decoration::after {
  width: 140px;
  height: 2px;
  background-color: #DBDBDB;;
  content: "";
}

.clinic-info__comment {
  position: relative;
  z-index: 1;
  margin: 45px auto;
  width: 755px;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #949494;
}

.clinic-info__comment::before {
  position: absolute;
  z-index: 1;
  display: block;
  left: -155px;
  top: -40%;
  transform: rotate(-180deg);
  margin-right: 14px;
  width: 51px;
  height: 42px;
  background-image: url(../img/tirnoq.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
  content: "";
}

.clinic-info__comment::after {
  position: absolute;
  z-index: 1;
  display: block;
  margin-right: 14px;
  width: 51px;
  height: 42px;
  right: -155px;
  bottom: 0%;
  background-image: url(../img/tirnoq.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
  content: "";
}

.clinic-info__autor {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 35px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #333333;
}

/* our-services */
.our-services {
  padding-top: 190px;
  padding-bottom: 130px;
}

.our-services__heading {
  margin: 0;
  margin-bottom: 80px;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  color: #333333;
}

.our-services__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.clinic-feedback-wrapper {
  min-height: 652px;
  background-image: url(../img/form-background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
}

.clinic-container {
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
}

.clinic-feedback {
  display: flex;
}

.clinic-feedback-card-img {
  display: block;
  margin-right: 166px;
}

.clinic-feedback-right {
  width: 380px;
}

.clinic-feedback-heading {
  margin: 0;
  margin-top: 62px;
  margin-bottom: 14px;
  font-size: 48px;
  line-height: 62px;
  color: #FFFFFF;
}

.clinic-feedback-text {
  margin: 0;
  margin-bottom: 29px;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  width: 334px;
}

.clinic-feedback-name-input,
.clinic-feedback-email-input {
  margin-bottom: 14px;
  width: 375px;
  height: 50px;
  padding: 16px 22px;
}

.clinic-feedback-email-input:valid {
  color: #00B031;
}

.clinic-feedback-email-input:invalid {
  color: #D81D04;
}

.clinic-feedback-text-input {
  width: 375px;
  height: 165px;
  padding: 17px 22px;
  margin-bottom: 30px;
}

.clinic-feedback-ask-question {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #FFBD54;
  border-radius: 0px;
  width: 226px;
  height: 50px;
}
/* SITE FOOTER */

.site-footer-wrapper {
  background-color: #F3F3F3;
  border: 1px solid #EBEBEB;
}

.site-footer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 62px;
  padding-bottom: 23px;
}

.footer-logo-link {
  width: 158px;
  height: 77px;
  margin-right: 67px;
}

.footer-logo {
  width: 158px;
  height: 77px;
}

.footer-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  width: 86px;
  list-style-type: none;
}

.footer-list-1 {
  margin-right: 87px;
}

.footer-list-2 {
  margin-right: 127px;
}

.footer-item {
  margin-bottom: 14px;
}

.footer-item:last-child {
  margin-bottom: 0px;
}

.footer-link {
  text-decoration: none;
  white-space: nowrap;
  color: #333;
}

.working-days-1 {
  margin: 0;
}

.working-days-1::before{
display: inline-block;
margin-right: 7px;
width: 14px;
height: 13px;
background-image: url(../img/days.png);
background-repeat: no-repeat;
background-position: center center;
background-size: auto 100%;
content: "";
}

.working-days-full-1,
.working-days-full-2 {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  white-space: nowrap;
}

.footer-address-link {
  color: #333;
  text-decoration: none;
  width: 157px;
  margin-left: 100px;
} 

.footer-address-link::before {
  display: inline-block;
  margin-right: 9px;
  width: 14px;
  height: 13px;
  background-image: url(../img/home.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
  content: "";
}

.footer-tel-numbers-text-1::before {
  display: inline-flex;
  margin-right: 9px;
  width: 14px;
  height: 13px;
  background-image: url(../img/tel.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
  content: "";
}

.footer-tel-numbers-text {
  margin: 0;
}

.footer-tel-number-link {
  color: #474141;
  text-decoration: none;
}

/* ==== SERVISES PAGE ==== */

.hero-container {
  display: flex;
}

.hero {
  padding-top: 118px;
  padding-bottom: 80px;
  background-image: url(../img/green-parrot.png);
  background-size: 435px 435px;
  background-repeat: no-repeat;
  background-position: center right calc(50% - 500px);
}

.hero__wrapper {
  width: 450px;
  margin-left: 157px;
}

.hero__heading {
  margin-top: 0;
  margin-bottom: 21px;
  font-size: 70px;
  line-height: 64px;
  color: #333333;
}

.hero__text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.servises-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.servises-item {
  display: flex;
  margin: 0 11px 30px 11px;
  flex-direction: column;
  width: 305px;
  background: #FFFFFF;
  border-radius: 5px 5px 0px 0px;
  padding: 58px 45px 45px 53px;
  background-image: url(../img/white-foot.png);
  background-size: 108px 94px;
  background-repeat: no-repeat;
  background-position: top right;
  cursor: pointer;
  transition: filter 0.3s ease,
  background-color 0.3s ease;
}

.servises-item:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
}

.servises-item:hover .servises-iteam__link {
  background-color: #000000;
}

.servises-item:active .servises-iteam__link {
  background-color: rgba(0, 0, 0, 0.5);
}

.servises-item:before {
  margin-bottom: 22px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
}

.servises-item-1:before {
  width: 54px;
  height: 77px;
  background-image: url(../img/doctor-man.png);
}

.servises-item-2:before {
  width: 61px;
  height: 76px;
  background-image: url(../img/doctor-woman.png);
}

.servises-item-3:before {
  width: 72px;
  height: 78px;
  background-image: url(../img/dropper.png);
}

.servises-item-4:before {
  width: 76px;
  height: 76px;
  background-image: url(../img/dermatology.png);
}

.servises-item-5::before {
  width: 78px;
  height: 78px;
  background-image: url(../img/microscope.png);
}

.servises-item-6:before {
  width: 76px;
  height: 76px;
  background-image: url(../img/ophthalmology.png);
}

.servises-item-7:before {
  width: 77px;
  height: 77px;
  background-image: url(../img/ultrasound-diagnostics.png);
}

.servises-item-8:before {
  width: 40px;
  height: 77px;
  background-image: url(../img/chipping.png);
}

.servises-item-9::before {
  width: 87px;
  height: 78px;
  background-image: url(../img/international-passports.png);
}

.servises-item-10:before {
  width: 68px;
  height: 76px;
  background-image: url(../img/vacsination.png);
}

.servises-item-11:before {
  width: 78px;
  height: 78px;
  background-image: url(../img/stomotology.png);
}

.servises-item-12:before {
  width: 77px;
  height: 77px;
  background-image: url(../img/amergancy-call.png);
}

.servises-iteam__heading {
  margin-top: 0;
  margin-bottom: 14px;
  font-size: 32px;
  line-height: 34px;
  color: #333333;
}

.servises-iteam__text {
  margin-top: 0;
  margin-bottom: 26px;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.servises-iteam__link {
  font-weight: 450;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  padding: 15px 30px;
  border-radius: 3px;
  text-decoration: none;
}

.servises-iteam__link-blue {
  background-color: #78C0DE;
}

.servises-iteam__link-orange {
  background-color: #FFBD54;
}

/* ==== MEDIA QUERIES ==== */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/green-parrot@2x.png);
  }
}


